<h1>口コミの新規投稿</h1>
  <%= form_with model: @post, local: true do |form| %>
    <%= form.collection_select(:subscription_id, @subscriptions, :id, :service_name, {prompt: "利用しているサブスクを選択"} ) %>
    <%= form.label :content, "口コミ入力欄" %>
    <%= form.text_area :content, rows: 5, class: "form-control", required: true %>
    <%= form.submit "投稿する", class: "btn btn-outline-primary" %>
  <% end %>
